.App {
  text-align: center;
}

.active {
  color: red
}

.button-default {
  background-color: #EA4337;
  width: 80px;
  height: 57px;
}
.button-primary {
  background-color: #201A1B;
  width: 80px;
  height: 57px;
}

.button-secondary {
  background-color: #EA4337;
  width: 110px;
  height: 57px;
  float: right;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}


.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-subscription {
  background-color: #EFEEEE;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #121212;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

